/* .login-button {
    background: transparent;
    color: white;
    border-color: #ccc;
} */

/* .signup-button {
    display: inline-block;
    background-color: #f50;
    border-color: #f50;
    color: #fff;
} */